@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css */

@font-face {
  font-family: "Bunken";
  src: url("/fonts/bunken/FontsFree-Net-Bunken-Tech-Sans-SC-Wide-W01Bd-4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
